Repository TeamB-um/B-umiOS, pull requests merged in 2021-08, with the labels that each got.

#154 [Feat/149] 깜짝 팝업뷰 레이아웃
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Resource/Common/PopUp/SurprisePopUpViewController.swift
Labels: 👀 view, 유경, 🌿 feature

#155 [Feat/151] 오늘의 선물 팝업
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Resource/Common/Extension/UIExtension/UIImage+Extension.swift
  B-umiOS/B-umiOS/Resource/Common/PopUp/TodayPresentPopUpViewController.swift
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/presentmotivArea.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/presentmotivArea.imageset/presentmotivArea.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/presentmotivArea.imageset/presentmotivArea@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/presentmotivArea.imageset/presentmotivArea@3x.png
  B-umiOS/Podfile.lock
Labels: 👀 view, 인애

#158 디자인 변경으로 인한 색상 값 수정
  B-umiOS/B-umiOS/Resource/Common/Extension/UIExtension/UIColor+Extension.swift
Labels: 🧚🏻‍♂️ style

#161 [Feat/160] 삭제함 기능 삭제
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Resource/Network/Handler/APIConstants.swift
  B-umiOS/B-umiOS/Resource/Network/Model/TrashCan/TrashCan.swift
  B-umiOS/B-umiOS/Resource/Network/Model/TrashCan/TrashCanResponse.swift
  B-umiOS/B-umiOS/Resource/Network/Service/TrashCanService.swift
  B-umiOS/B-umiOS/Source/MyPage/Cell/MyTrashBinTableViewCell.swift
  B-umiOS/B-umiOS/Source/MyPage/ViewController/MyPageViewController/MyPageViewController.swift
  B-umiOS/B-umiOS/Source/MyPage/ViewController/MyTrashBinViewController/MyTrashBinViewController+Extension.swift
  B-umiOS/B-umiOS/Source/MyPage/ViewController/MyTrashBinViewController/MyTrashBinViewController+Layout.swift
  B-umiOS/B-umiOS/Source/MyPage/ViewController/MyTrashBinViewController/MyTrashBinViewController.swift
Labels: 유경, 🔧 fix, 📞 network

#164 [add] 보관함 뷰 레이아웃 변경 사항 반영
  B-umiOS/B-umiOS.xcodeproj/xcshareddata/xcschemes/B-umiOS.xcscheme
  B-umiOS/B-umiOS/Resource/Common/PopUp/MyWritingPopUpViewController.swift
  B-umiOS/B-umiOS/Source/MyPage/ViewController/FilterBottomSheetViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper1.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper1.imageset/mywritingPaper1.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper1.imageset/mywritingPaper1@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper1.imageset/mywritingPaper1@3x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper2.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper2.imageset/mywritingPaper2.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper2.imageset/mywritingPaper2@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper2.imageset/mywritingPaper2@3x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper3.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper3.imageset/mywritingPaper3.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper3.imageset/mywritingPaper3@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper3.imageset/mywritingPaper3@3x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper4.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper4.imageset/mywritingPaper4.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper4.imageset/mywritingPaper4@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingPaper4.imageset/mywritingPaper4@3x.png
  B-umiOS/Podfile.lock
Labels: 👀 view, 유경

#167 [Feat/157] 글쓰기 뷰 디자인 변경사항 반영
  B-umiOS/B-umiOS/Resource/Common/Extension/UIExtension/UIColor+Extension.swift
  B-umiOS/B-umiOS/Resource/Common/Extension/UIExtension/UIImage+Extension.swift
  B-umiOS/B-umiOS/Resource/Common/PopUp/MyWritingPopUpViewController.swift
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper1.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper1.imageset/mywritingPaper1.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper1.imageset/mywritingPaper1@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper1.imageset/mywritingPaper1@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper2.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper2.imageset/mywritingPaper2.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper2.imageset/mywritingPaper2@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper2.imageset/mywritingPaper2@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper3.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper3.imageset/mywritingPaper3.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper3.imageset/mywritingPaper3@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper3.imageset/mywritingPaper3@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper4.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper4.imageset/mywritingPaper4.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper4.imageset/mywritingPaper4@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/mywritingPaper4.imageset/mywritingPaper4@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing1GradientEnd.imageset/writing1GradientEnd.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing1GradientEnd.imageset/writing1GradientEnd@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing1GradientEnd.imageset/writing1GradientEnd@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing1GradientRight.imageset/writing1GradientRight.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing1GradientRight.imageset/writing1GradientRight@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing1GradientRight.imageset/writing1GradientRight@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing1Paper.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing1Paper.imageset/writing1Paper.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing1Paper.imageset/writing1Paper@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing1Paper.imageset/writing1Paper@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing2Paper.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing2Paper.imageset/writing2Paper.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing2Paper.imageset/writing2Paper@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing2Paper.imageset/writing2Paper@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing3Paper.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing3Paper.imageset/writing3Paper.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing3Paper.imageset/writing3Paper@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing3Paper.imageset/writing3Paper@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing4Paper.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing4Paper.imageset/writing4Paper.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing4Paper.imageset/writing4Paper@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writing4Paper.imageset/writing4Paper@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writingGradientLeft.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writingGradientLeft.imageset/writingGradientLeft.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writingGradientLeft.imageset/writingGradientLeft@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writingGradientLeft.imageset/writingGradientLeft@3x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writingGradientRight.imageset/Contents.json
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writingGradientRight.imageset/writing1GradientRight.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writingGradientRight.imageset/writing1GradientRight@2x.png
  B-umiOS/B-umiOS/Resource/Supporting Files/Assets.xcassets/writingGradientRight.imageset/writing1GradientRight@3x.png
  B-umiOS/B-umiOS/Source/Home/HomeViewController.swift
  B-umiOS/B-umiOS/Source/ThrowTrash/ThrowTrashViewController+Layout.swift
  B-umiOS/B-umiOS/Source/ThrowTrash/ThrowTrashViewController.swift
  B-umiOS/B-umiOS/Source/Writing/Cell/WritingTagCollectionViewCell.swift
  B-umiOS/B-umiOS/Source/Writing/Model/WritingStyle.swift
  B-umiOS/B-umiOS/Source/Writing/ViewController/WritingViewController/WritingViewController+Extension.swift
  B-umiOS/B-umiOS/Source/Writing/ViewController/WritingViewController/WritingViewController+Layout.swift
  B-umiOS/B-umiOS/Source/Writing/ViewController/WritingViewController/WritingViewController.swift
  B-umiOS/Podfile.lock
Labels: 🌈 refactor, 🧚🏻‍♂️ style, 🔧 fix

#169 [Feat/168] 휴지통 기한 삭제 및 분리수거 추가/수정 팝업 색상 변화 수정
  B-umiOS/B-umiOS/Source/Setting/ViewController/SeparatePopUpViewController/SeparatePopUpViewController.swift
  B-umiOS/B-umiOS/Source/Setting/ViewController/SettingViewController/SettingViewController+Layout.swift
Labels: 진석, 🌿 feature, 🔧 fix

#170 [fix] 보관함 뷰 reload data bug fix
  B-umiOS/B-umiOS/Source/MyPage/ViewController/MyPageViewController/MyPageViewController+Extension.swift
  B-umiOS/B-umiOS/Source/MyPage/ViewController/MyPageViewController/MyPageViewController.swift
Labels: 🚨bug, 유경, 📞 network

#171 [Feat/166]
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Resource/Common/Extension/UIExtension/UIImage+Extension.swift
  B-umiOS/B-umiOS/Resource/Network/Model/Writing/WritingRequest.swift
  B-umiOS/B-umiOS/Source/Home/HomeViewController+Layout.swift
  B-umiOS/B-umiOS/Source/Home/HomeViewController.swift
  B-umiOS/B-umiOS/Source/LaunchScreen/LaunchScreenViewController.swift
  B-umiOS/B-umiOS/Source/ThrowTrash/Component/CompletionMessage.swift
  B-umiOS/B-umiOS/Source/ThrowTrash/Model/TrashType.swift
  B-umiOS/B-umiOS/Source/ThrowTrash/ThrowTrashViewController+Layout.swift
  B-umiOS/B-umiOS/Source/ThrowTrash/ThrowTrashViewController.swift
  B-umiOS/B-umiOS/Source/Writing/ViewController/WritingPopUpViewController/WritingPopUpViewController.swift
  B-umiOS/B-umiOS/Source/Writing/ViewController/WritingViewController/WritingViewController.swift
Labels: 인애, 🌿 feature

#178 [Feat/175] 삭제시 필터가 풀리는 버그 픽스
  B-umiOS/B-umiOS/Resource/Common/PopUp/DeletePopUpViewController.swift
  B-umiOS/B-umiOS/Resource/Network/Handler/APIConstants.swift
  B-umiOS/B-umiOS/Resource/Network/Service/WritingService.swift
  B-umiOS/B-umiOS/Source/MyPage/Component/ButtonSectionView.swift
  B-umiOS/B-umiOS/Source/MyPage/ViewController/FilterBottomSheetViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/Source/MyPage/ViewController/MyWritingViewController/MyWritingViewController+Extension.swift
  B-umiOS/B-umiOS/Source/MyPage/ViewController/MyWritingViewController/MyWritingViewController.swift
Labels: 🚨bug, 유경, 🔧 fix, 📞 network
