Repository TeamB-um/B-umiOS, pull requests merged in 2021-07, with the labels that each got.

#3 [Feat/1]
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Base.lproj/Main.storyboard
  B-umiOS/B-umiOS/Common/Extension/UIColor+Extension.swift
  B-umiOS/B-umiOS/Home/Storyboard/Home.storyboard
  B-umiOS/B-umiOS/Home/ViewController/HomeViewController.swift
  B-umiOS/B-umiOS/MyPage/Storyboard/MyPage.storyboard
  B-umiOS/B-umiOS/MyPage/ViewController/MyPageViewController.swift
  B-umiOS/B-umiOS/Separate/Storyboard/Separate.storyboard
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController.swift
  B-umiOS/B-umiOS/Setting/Storyboard/Setting.storyboard
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController.swift
  B-umiOS/B-umiOS/TabBar/FloatingBarView.swift
  B-umiOS/B-umiOS/TabBar/FloatingTabBarController.swift
Labels: 인애, 🌿 feature, 👀 view

#7 [Feat/6-1]
  B-umiOS/B-umiOS/MyPage/Cell/MyPageMenuCollectionViewCell.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyPageViewController.swift
  B-umiOS/Podfile.lock
Labels: 🔧 fix, 🚨bug

#8 [Feat/6] 보관함 뷰 커스텀 탭바 구현
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS.xcodeproj/xcshareddata/xcschemes/B-umiOS.xcscheme
  B-umiOS/B-umiOS/MyPage/Cell/MenuSectionCollectionViewCell.swift
  B-umiOS/B-umiOS/MyPage/Cell/MyPageMenuCollectionViewCell.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyPageViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
Labels: 0️⃣ priority: high, 유경, 🌿 feature

#10 Feat/5
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Setting/Cell/TrashBinTableViewCell.swift
  B-umiOS/B-umiOS/Setting/Cell/TrashBinTableViewCell.xib
  B-umiOS/B-umiOS/Setting/Storyboard/Setting.storyboard
  B-umiOS/B-umiOS/Setting/ViewController/PeriodPopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingTrashBinViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/TrashBinPopUpViewController.swift
  B-umiOS/Podfile.lock
Labels: 1️⃣ priority: middle, 🌿 feature, 👀 view

#12 [Feat/4] 글쓰기 뷰 레이아웃 잡기
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/Extension/Date+Extension.swift
  B-umiOS/B-umiOS/Common/Extension/UILabel+Extension.swift
  B-umiOS/B-umiOS/Home/ViewController/HomeViewController.swift
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/bgElements.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/bgElements.imageset/bgElements.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/bgElements.imageset/bgElements@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/bgElements.imageset/bgElements@3x.png
  B-umiOS/B-umiOS/Writing/Cell/WritingTagCollectionViewCell.swift
  B-umiOS/B-umiOS/Writing/Model/WritingStyle.swift
  B-umiOS/B-umiOS/Writing/WritingViewController+Extension.swift
  B-umiOS/B-umiOS/Writing/WritingViewController+layout.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
Labels: 인애, 👀 view, 🧚🏻‍♂️ style

#13 [feat] 화면 팝업, 푸쉬 extension 구현
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/Extension/UIView+Extension.swift
  B-umiOS/B-umiOS/Common/Extension/UIViewController+Extension.swift
  B-umiOS/B-umiOS/Common/Model/TapGesture.swift
Labels: 🌿 feature

#24 [Feat/23] 글쓰기 뷰 탭바 숨기기 / 나타내기
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/Extension/NotificationName+Extension.swift
  B-umiOS/B-umiOS/TabBar/FloatingTabBarController.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
  B-umiOS/Podfile.lock
Labels: 인애, 🌿 feature, 👀 view

#19 [Feat/14] 글쓰기 뷰 태그 셀 레이아웃 + 선택 처리
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Home/ViewController/HomeViewController.swift
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/icArrow.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/icArrow.imageset/icArrow.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/icArrow.imageset/icArrow@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/icArrow.imageset/icArrow@3x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/writing1GradientEnd.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/writing1GradientEnd.imageset/writing1GradientEnd.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/writing1GradientEnd.imageset/writing1GradientEnd@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/writing1GradientEnd.imageset/writing1GradientEnd@3x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/writing1GradientRight.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/writing1GradientRight.imageset/writing1GradientRight.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/writing1GradientRight.imageset/writing1GradientRight@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/writing1GradientRight.imageset/writing1GradientRight@3x.png
  B-umiOS/B-umiOS/Writing/Cell/WritingTagCollectionViewCell.swift
  B-umiOS/B-umiOS/Writing/Model/WritingStyle.swift
  B-umiOS/B-umiOS/Writing/WritingViewController+Extension.swift
  B-umiOS/B-umiOS/Writing/WritingViewController+Layout.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
Labels: 인애, 🌿 feature, 👀 view, 🧚🏻‍♂️ style

#28 [Feat/16] 분리수거 화면 레이아웃 + 요소 구현
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/Model/SizeConstants.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateCollectionViewCell.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateCollectionViewCell.xib
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController+Extension.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController+Layout.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController.swift
Labels: 0️⃣ priority: high, 진석, 🌿 feature, 👀 view

#33 [fix] writing textView 텍스트에 따라 체크 버튼 활성, 비활성
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
Labels: 🔧 fix

#34 [Feat/29] 분리수거 상세뷰 레이아웃 구현 + 선택 버튼 기능 구현
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Separate/Cell/SeparateDetailTableViewCell.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateDetailTableViewCell.xib
  B-umiOS/B-umiOS/Separate/Storyboard/Separate.storyboard
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Extension.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Layout.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController+Extension.swift
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCheckColor.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCheckColor.imageset/btnCheckCircleBlack24Dp1.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCheckColor.imageset/btnCheckCircleBlack24Dp1@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCheckColor.imageset/btnCheckCircleBlack24Dp1@3x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCheckEmpty.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCheckEmpty.imageset/btnCheckCircleBlack24Dp2.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCheckEmpty.imageset/btnCheckCircleBlack24Dp2@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCheckEmpty.imageset/btnCheckCircleBlack24Dp2@3x.png
  B-umiOS/Podfile.lock
Labels: 2️⃣ priority: low, 진석, 🌿 feature, 👀 view

#30 [Feat/15] 글쓰기 뷰 titleTextField 길이 제한 및 카운트 기능 구현
  B-umiOS/B-umiOS/Writing/WritingViewController+Extension.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
Labels: 인애, 🌿 feature, 🚨bug

#36 [Feat/25] 분리수거 / 휴지통 뷰 레이아웃 및 기능 구현
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCloseBlack.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCloseBlack.imageset/btnCloseBlack.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCloseBlack.imageset/btnCloseBlack@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCloseBlack.imageset/btnCloseBlack@3x.png
  B-umiOS/B-umiOS/ThrowTrash/ThrowTrashViewController+Layout.swift
  B-umiOS/B-umiOS/ThrowTrash/ThrowTrashViewController.swift
  B-umiOS/B-umiOS/Writing/ViewController/WritingPopUpViewController.swift
  B-umiOS/B-umiOS/Writing/WritingViewController+Extension.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
Labels: 인애, 🌿 feature, 👀 view

#46 [feat/45] My Page 뷰컨트롤러 리네이밍, 간격 수정
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/MyPage/Cell/MyRewardCollectionViewCell.swift
  B-umiOS/B-umiOS/MyPage/Component/ButtonSectionView.swift
  B-umiOS/B-umiOS/MyPage/Storyboard/MyWritingPopUp.storyboard
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyPageViewController.swift
Labels: 유경, 🔧 fix

#44 [Feat/35] 분리수거 그래프 팝업 레이아웃 완료
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/Model/SizeConstants.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateDetailTableViewCell.swift
  B-umiOS/B-umiOS/Separate/Storyboard/Separate.storyboard
  B-umiOS/B-umiOS/Separate/ViewController/Component/GraphComponentView.swift
  B-umiOS/B-umiOS/Separate/ViewController/Component/GraphView.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Layout.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateGraphPopUpViewController+Layout.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateGraphPopUpViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController.swift
  B-umiOS/Podfile
  B-umiOS/Podfile.lock
Labels: 2️⃣ priority: low, 진석, 🌿 feature, 👀 view, 🧚🏻‍♂️ style

#49 [fix] 스크린 사이즈 변수 이름 수정
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/ThrowTrash/ThrowTrashViewController+Layout.swift
  B-umiOS/B-umiOS/Writing/ViewController/WritingPopUpViewController.swift
Labels: 🌈 refactor, 🔧 fix, 🚨bug

#52 [Feat/47] 설정 메인 화면 폰트 색상 및 기기별 레이아웃
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Setting/Storyboard/Setting.storyboard
  B-umiOS/B-umiOS/Setting/ViewController/PeriodPopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingSeparateViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController+Layout.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController.swift
Labels: 진석, 👀 view, 🔧 fix, 🧚🏻‍♂️ style

#50 [Feat/43] 삭제함 뷰 레이아웃 완성 + 사용하지 않는 스토리보드 삭제
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/MyPage/Cell/MyTrashBinTableViewCell.swift
  B-umiOS/B-umiOS/MyPage/Storyboard/MyWritingPopUp.storyboard
  B-umiOS/B-umiOS/MyPage/ViewController/MyPageViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
Labels: 0️⃣ priority: high, 유경, 🌿 feature, 👀 view

#51 [Feat/37] 공통 팝업 (나의 글, 글 삭제) 레이아웃
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS.xcworkspace/contents.xcworkspacedata
  B-umiOS/B-umiOS/Common/PopUp/DeletePopUpViewController.swift
  B-umiOS/B-umiOS/Common/PopUp/MyWritingPopUpViewController.swift
  B-umiOS/Podfile.lock
Labels: 인애, 🌿 feature, 👀 view

#55 [fix] 보관함 헤더 뷰 디자인 변경
  B-umiOS/B-umiOS/MyPage/Component/ButtonSectionView.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingTrashbinBgGradientTop.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingTrashbinBgGradientTop.imageset/mywritingTrashbinBgGradientTop.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingTrashbinBgGradientTop.imageset/mywritingTrashbinBgGradientTop@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingTrashbinBgGradientTop.imageset/mywritingTrashbinBgGradientTop@3x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/settings.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/settings.imageset/settings.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/settings.imageset/settings@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/settings.imageset/settings@3x.png
Labels: 1️⃣ priority: middle, 유경, 🔧 fix, 🧚🏻‍♂️ style

#56 Network 초기 구조 셋팅
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Network/APIConstants.swift
  B-umiOS/B-umiOS/Network/NetworkInfo.swift
  B-umiOS/B-umiOS/Network/NetworkResult.swift
  B-umiOS/B-umiOS/Network/RequestHandler.swift
  B-umiOS/B-umiOS/Network/Service/LoginService.swift
  B-umiOS/B-umiOS/Supporting Files/Info.plist
Labels: 🌈 refactor, 📞 network, 🔧 fix

#57 [feat] 리워드 팝업 뷰 레이아웃
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardPopUpViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
  B-umiOS/Podfile.lock
Labels: 0️⃣ priority: high, 유경, 🌿 feature, 👀 view

#64 [Feat/53] 분리수거함, 휴지통 기한 요소 적용 및 기능 구현 완료
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS.xcworkspace/contents.xcworkspacedata
  B-umiOS/B-umiOS/Setting/Cell/SeparateTableViewCell.swift
  B-umiOS/B-umiOS/Setting/Cell/SeparateTableViewCell.xib
  B-umiOS/B-umiOS/Setting/Cell/TrashBinTableViewCell.swift
  B-umiOS/B-umiOS/Setting/Storyboard/Setting.storyboard
  B-umiOS/B-umiOS/Setting/ViewController/PeriodPopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SeparatePopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingSeparateViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController+Layout.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/TrashBinPopUpViewController.swift
Labels: 진석, 🌿 feature, 👀 view, 🔧 fix, 🧚🏻‍♂️ style

#71 [Feat/41] 글쓰기 뷰 textColor, placeholderColor 분리
  B-umiOS/B-umiOS.xcworkspace/contents.xcworkspacedata
  B-umiOS/B-umiOS/Home/HomeViewController.swift
  B-umiOS/B-umiOS/Writing/Model/WritingStyle.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
  B-umiOS/Podfile.lock
Labels: 인애, 🌿 feature, 🧚🏻‍♂️ style

#72 [Feat/69] 분리수거함 요소 및 기능 적용 완료
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Separate/ViewController/Component/SeperateFooterView.swift
  B-umiOS/B-umiOS/Separate/ViewController/Component/SeperateHeaderView.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController+Extension.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController+Layout.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController.swift
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/separateBgGradientTop.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/separateBgGradientTop.imageset/separateBgGradientTop.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/separateBgGradientTop.imageset/separateBgGradientTop@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/separateBgGradientTop.imageset/separateBgGradientTop@3x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/seperate7_3.imageset/Contents 2.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/seperate7_3.imageset/seperate7_3 2.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/seperate7_4.imageset/Contents 2.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/seperate7_4.imageset/seperate7_4 2.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/seperate7_5.imageset/seperate7_5 2.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/seperate8_0.imageset/Contents 2.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/seperate8_0.imageset/seperate8_0 2.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/seperate8_1.imageset/Contents 2.json
Labels: 진석, 👀 view, 🔧 fix, 🧚🏻‍♂️ style

#77 [fix] rounding button layout bug fix
  B-umiOS/B-umiOS.xcworkspace/contents.xcworkspacedata
  B-umiOS/B-umiOS/MyPage/Component/RoundingButton.swift
  B-umiOS/Podfile.lock
Labels: 유경, 👀 view, 🔧 fix, 🚨bug

#74 [fix] 필터 기간 설정 로직 구현
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCancel.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCancel.imageset/btnCancel.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCancel.imageset/btnCancel@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/btnCancel.imageset/btnCancel@3x.png
Labels: 유경, 🌿 feature, 🔧 fix

#81 [fix] 삭제 또는 분리 팝업 라벨, 레이아웃 수정
  B-umiOS/B-umiOS.xcworkspace/contents.xcworkspacedata
  B-umiOS/B-umiOS/Writing/ViewController/WritingPopUpViewController.swift
  B-umiOS/Podfile.lock
Labels: 인애, 🧚🏻‍♂️ style

#84 [Feat/83] 스플래쉬 로티
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Base.lproj/Main.storyboard
  B-umiOS/B-umiOS/LaunchScreen/LaunchScreenViewController.swift
  B-umiOS/B-umiOS/Supporting Files/Lottie/bium_splash.json
Labels: 인애, 👀 view

#90 [fix] 나의 글 상세 뷰 팝업 + 휴지통 기간 설정 팝업
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
  B-umiOS/Podfile.lock
Labels: 유경, 👀 view, 🔧 fix

#89 [Feat/86] 스플래쉬 뷰 로그인 네트워크 연결
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/Extension/UIDevice+Extension.swift
  B-umiOS/B-umiOS/Common/Extension/UserDefaults.Key+Extension.swift
  B-umiOS/B-umiOS/LaunchScreen/LaunchScreenViewController.swift
  B-umiOS/B-umiOS/Network/APIConstants.swift
  B-umiOS/B-umiOS/Network/Model/Response/WritingResponse.swift
  B-umiOS/B-umiOS/Network/RequestHandler.swift
  B-umiOS/B-umiOS/Network/Service/LoginService.swift
Labels: 인애, 📞 network

#92 [chore] 바텀시트 연결
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyPageViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/PeriodPopUpViewController.swift
Labels: 유경, 🔧 fix

#94 [Feat/87] 글쓰기 뷰 네트워크 통신
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/PopUp/DeletePopUpViewController.swift
  B-umiOS/B-umiOS/Home/HomeViewController.swift
  B-umiOS/B-umiOS/Network/APIConstants.swift
  B-umiOS/B-umiOS/Network/Model/Category.swift
  B-umiOS/B-umiOS/Network/Model/Request/CategoryRequest.swift
  B-umiOS/B-umiOS/Network/Model/Request/WritingRequest.swift
  B-umiOS/B-umiOS/Network/Model/Response/CategoriesResponse.swift
  B-umiOS/B-umiOS/Network/Model/Writing.swift
  B-umiOS/B-umiOS/Network/NetworkInfo.swift
  B-umiOS/B-umiOS/Network/Service/CategoryService.swift
  B-umiOS/B-umiOS/Network/Service/LoginService.swift
  B-umiOS/B-umiOS/Network/Service/WritingService.swift
  B-umiOS/B-umiOS/ThrowTrash/ThrowTrashViewController.swift
  B-umiOS/B-umiOS/Writing/ViewController/WritingPopUpViewController.swift
  B-umiOS/B-umiOS/Writing/WritingViewController+Extension.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
  B-umiOS/Podfile.lock
Labels: 인애, 📞 network, 🔧 fix

#91 [Feat/73] 분리수거함 상세 뷰 요소 및 기능 적용
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/MyPage/Component/RoundingButton.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateDetailTableViewCell.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateDetailTableViewCell.xib
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Extension.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Layout.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController.swift
  B-umiOS/Podfile.lock
Labels: 🌿 feature, 👀 view, 🔧 fix, 🧚🏻‍♂️ style

#98 [Feat/93] 보관함 - 리워드 네트워크 연결
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/MyPage/Cell/MyRewardCollectionViewCell.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardPopUpViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
  B-umiOS/B-umiOS/Network/APIConstants.swift
  B-umiOS/B-umiOS/Network/Model/Response/RewardResponse.swift
  B-umiOS/B-umiOS/Network/NetworkInfo.swift
  B-umiOS/B-umiOS/Network/Service/RewardService.swift
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/group163.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/group163.imageset/group163.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/group163.imageset/group163@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/group163.imageset/group163@3x.png
Labels: 유경, 📞 network, 🔧 fix

#102 [Feat/97] 분리수거 탭바 관련 네트워크 연결
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/Extension/UIColor+Extension.swift
  B-umiOS/B-umiOS/Network/Model/Response/CategoriesResponse.swift
  B-umiOS/B-umiOS/Network/Model/Response/WritingResponse.swift
  B-umiOS/B-umiOS/Network/Service/CategoryService.swift
  B-umiOS/B-umiOS/Network/Service/WritingService.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateCollectionViewCell.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateDetailTableViewCell.swift
  B-umiOS/B-umiOS/Separate/ViewController/Model/SeparateStyle.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Extension.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController+Extension.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
Labels: 진석, 🌿 feature, 📞 network

#104 [feat/99] 삭제함 조회 서버 연결
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/MyPage/Cell/MyTrashBinTableViewCell.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/Network/APIConstants.swift
  B-umiOS/B-umiOS/Network/Model/Response/TrashCanResponse.swift
  B-umiOS/B-umiOS/Network/Model/TrashCan.swift
  B-umiOS/B-umiOS/Network/Service/RewardService.swift
  B-umiOS/B-umiOS/Network/Service/TrashCanService.swift
Labels: 유경, 🌿 feature, 📞 network

#107 [fix] 카테고리 셀 왼쪽 정렬
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/MyPage/Cell/CollectionViewLeftAlignFlowLayout.swift
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
Labels: 유경, 🌈 refactor, 🔧 fix, 🧚🏻‍♂️ style

#111 [Feat/95] 설정 뷰 네트워크 설정
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/Extension/UserDefaults.Key+Extension.swift
  B-umiOS/B-umiOS/LaunchScreen/LaunchScreenViewController.swift
  B-umiOS/B-umiOS/Network/APIConstants.swift
  B-umiOS/B-umiOS/Network/Service/UserService.swift
  B-umiOS/B-umiOS/Setting/ViewController/PeriodPopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController.swift
  B-umiOS/Podfile.lock
Labels: 인애, 🌿 feature, 📞 network

#114 [feat] 분리수거 상세 글 삭제 네트워크 연결
  B-umiOS/B-umiOS/Common/PopUp/DeletePopUpViewController.swift
  B-umiOS/B-umiOS/Network/Service/WritingService.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateCollectionViewCell.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Extension.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController.swift
Labels: 진석, 🌿 feature, 📞 network

#116 [feat/106] 셀 선택에 따른 버튼 처리 로적
  B-umiOS/B-umiOS/Common/Extension/NotificationName+Extension.swift
  B-umiOS/B-umiOS/MyPage/Cell/MyWritingCollectionViewCell.swift
  B-umiOS/B-umiOS/MyPage/Component/ButtonSectionView.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Extension.swift
Labels: 유경, 🔧 fix, 🧚🏻‍♂️ style

#117 [Feat/112] ActivityIndicator 추가
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/Indicator/ActivityIndicator.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/PeriodPopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SeparatePopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingSeparateViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController.swift
  B-umiOS/B-umiOS/Supporting Files/Lottie/loading.json
  B-umiOS/B-umiOS/ThrowTrash/ThrowTrashViewController.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
Labels: 인애, 🌿 feature

#118 [Feat/115] 분리수거함 리워드 화면 및 네트워크 연결
  B-umiOS/B-umiOS/Network/Model/Category.swift
  B-umiOS/B-umiOS/Network/Model/Response/RewardResponse.swift
  B-umiOS/B-umiOS/Network/Model/Reward.swift
  B-umiOS/B-umiOS/Network/Service/CategoryService.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController+Extension.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController.swift
  B-umiOS/Podfile.lock
Labels: 진석, 🌿 feature, 📞 network

#120 [Feat/110] 카테고리 삭제 네트워크 연결
  B-umiOS/B-umiOS/Common/PopUp/DeletePopUpViewController.swift
  B-umiOS/B-umiOS/MyPage/Component/ButtonSectionView.swift
  B-umiOS/B-umiOS/Network/Service/CategoryService.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Extension.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController.swift
  B-umiOS/B-umiOS/Setting/Cell/SeparateTableViewCell.swift
  B-umiOS/B-umiOS/Setting/ViewController/SeparatePopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingSeparateViewController.swift
Labels: 인애, 🌿 feature, 📞 network

#121 [feat] 분리수거 탭바 카테고리 추가하기
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController+Extension.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/PeriodPopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingSeparateViewController.swift
Labels: 진석, 🌿 feature, 📞 network, 🔧 fix

#127 [Feat/124] 삭제함에서 삭제 기한 수정시 반영 안되는 버그 수정
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController.swift
Labels: 인애, 🚨bug

#129 [Feat/113] 앱 이미지, 이름 변경
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/AppIcon.appiconset/1024_1024.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/AppIcon.appiconset/120_120-1.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/AppIcon.appiconset/120_120.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/AppIcon.appiconset/180_180.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/AppIcon.appiconset/40_40.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/AppIcon.appiconset/58_58.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/AppIcon.appiconset/60_60.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/AppIcon.appiconset/80_80.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/AppIcon.appiconset/87_87.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/AppIcon.appiconset/Contents.json
Labels: 🧚🏻‍♂️ style

#131 [Feat/65] 글쓰기 좌우 그라데이션 추가
  B-umiOS/B-umiOS.xcodeproj/xcshareddata/xcschemes/B-umiOS.xcscheme
  B-umiOS/B-umiOS/Setting/ViewController/SeparatePopUpViewController.swift
  B-umiOS/B-umiOS/Writing/WritingViewController+Extension.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
Labels: 인애, 🌈 refactor, 🔧 fix

#130 [Feat/126] 분리수거 통계 그래프 기능 구현
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/PopUp/MyWritingPopUpViewController.swift
  B-umiOS/B-umiOS/Network/APIConstants.swift
  B-umiOS/B-umiOS/Network/Model/Response/GraphResponse.swift
  B-umiOS/B-umiOS/Network/Service/CategoryService.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateDetailTableViewCell.swift
  B-umiOS/B-umiOS/Separate/ViewController/Component/GraphComponentView.swift
  B-umiOS/B-umiOS/Separate/ViewController/Component/GraphView.swift
  B-umiOS/B-umiOS/Separate/ViewController/Model/SeparateStyle.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateGraphPopUpViewController+Layout.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateGraphPopUpViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController.swift
  B-umiOS/Podfile.lock
Labels: 진석, 🌿 feature, 👀 view, 📞 network

#133 [Feat/123] 나의 글 필터 네트워크 연결
  B-umiOS/B-umiOS/Common/Extension/NotificationName+Extension.swift
  B-umiOS/B-umiOS/Common/PopUp/DeletePopUpViewController.swift
  B-umiOS/B-umiOS/Common/PopUp/MyWritingPopUpViewController.swift
  B-umiOS/B-umiOS/MyPage/Component/ButtonSectionView.swift
  B-umiOS/B-umiOS/MyPage/Component/RoundingButton.swift
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
  B-umiOS/B-umiOS/Network/Service/CategoryService.swift
  B-umiOS/B-umiOS/Network/Service/WritingService.swift
Labels: 유경, 📞 network, 🔧 fix

#134 [Bug/132] 팝업 스타일 및 오류 수정
  B-umiOS/B-umiOS/Common/Model/SizeConstants.swift
  B-umiOS/B-umiOS/MyPage/Component/ButtonSectionView.swift
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/PeriodPopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController.swift
Labels: 진석, 🔧 fix, 🚨bug

#135 [fix] 보관함 404 status code 처리
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/Network/Service/RewardService.swift
Labels: 유경, 📞 network, 🔧 fix, 🚨bug

#139 [bug] 분리수거함 상세 뷰 삭제 확인 활성화 수정
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController.swift
Labels: 진석, 🔧 fix, 🚨bug

#142 [fix] print 출력문 삭제
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyPageViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/Network/Service/WritingService.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateCollectionViewCell.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Extension.swift
Labels: 진석, 🔧 fix

#144 [Feat/143] 삭제함 바텀 백그라운드
  B-umiOS/B-umiOS/MyPage/Component/ButtonSectionView.swift
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyPageViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/Component/SeperateHeaderView.swift
  B-umiOS/B-umiOS/ThrowTrash/ThrowTrashViewController+Layout.swift
  B-umiOS/Podfile.lock
Labels: 유경, 🔧 fix, 🧚🏻‍♂️ style

#145 [fix] 그라데이션 에셋 추가
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/imgMywritingTrashbin.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/imgMywritingTrashbin.imageset/imgMywritingTrashbin.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/imgMywritingTrashbin.imageset/imgMywritingTrashbin@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/imgMywritingTrashbin.imageset/imgMywritingTrashbin@3x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingTrashbinBgGradientBottom.imageset/Contents.json
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingTrashbinBgGradientBottom.imageset/mywritingTrashbinBgGradientBottom.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingTrashbinBgGradientBottom.imageset/mywritingTrashbinBgGradientBottom@2x.png
  B-umiOS/B-umiOS/Supporting Files/Assets.xcassets/mywritingTrashbinBgGradientBottom.imageset/mywritingTrashbinBgGradientBottom@3x.png
  B-umiOS/B-umiOS/TabBar/FloatingBarView.swift
  B-umiOS/Podfile.lock
Labels: 유경, 🧚🏻‍♂️ style

#146 [Feat/125] RoundingButton 타이틀 변경 시 레이아웃 깨지는 오류 수정
  B-umiOS/B-umiOS/MyPage/Component/ButtonSectionView.swift
  B-umiOS/B-umiOS/MyPage/Component/RoundingButton.swift
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
Labels: 🔧 fix, 🚨bug

#148 [Feat/147] Code Convention 및 APIService Code 수정
  B-umiOS/B-umiOS.xcodeproj/project.pbxproj
  B-umiOS/B-umiOS/Common/Extension/UIImage+Extension.swift
  B-umiOS/B-umiOS/Common/Model/SizeConstants.swift
  B-umiOS/B-umiOS/Common/PopUp/DeletePopUpViewController.swift
  B-umiOS/B-umiOS/Common/PopUp/MyWritingPopUpViewController.swift
  B-umiOS/B-umiOS/Home/HomeViewController+Layout.swift
  B-umiOS/B-umiOS/Home/HomeViewController.swift
  B-umiOS/B-umiOS/LaunchScreen/LaunchScreenViewController.swift
  B-umiOS/B-umiOS/MyPage/Cell/MenuSectionCollectionViewCell.swift
  B-umiOS/B-umiOS/MyPage/Cell/MyPageMenuCollectionViewCell.swift
  B-umiOS/B-umiOS/MyPage/Cell/MyRewardCollectionViewCell.swift
  B-umiOS/B-umiOS/MyPage/Cell/MyTrashBinTableViewCell.swift
  B-umiOS/B-umiOS/MyPage/Cell/MyWritingCollectionViewCell.swift
  B-umiOS/B-umiOS/MyPage/Component/ButtonSectionView.swift
  B-umiOS/B-umiOS/MyPage/Component/RoundingButton.swift
  B-umiOS/B-umiOS/MyPage/ViewController/FilterBottmSheetViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyPageViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardPopUpViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyRewardViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyTrashBinViewController.swift
  B-umiOS/B-umiOS/MyPage/ViewController/MyWritingViewController.swift
  B-umiOS/B-umiOS/Network/APIConstants.swift
  B-umiOS/B-umiOS/Network/Model/Reward.swift
  B-umiOS/B-umiOS/Network/NetworkInfo.swift
  B-umiOS/B-umiOS/Network/RequestHandler.swift
  B-umiOS/B-umiOS/Network/Service/CategoryService.swift
  B-umiOS/B-umiOS/Network/Service/RewardService.swift
  B-umiOS/B-umiOS/Network/Service/UserService.swift
  B-umiOS/B-umiOS/Network/Service/WritingService.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateCollectionViewCell.swift
  B-umiOS/B-umiOS/Separate/Cell/SeparateDetailTableViewCell.swift
  B-umiOS/B-umiOS/Separate/ViewController/Component/GraphComponentView.swift
  B-umiOS/B-umiOS/Separate/ViewController/Component/GraphView.swift
  B-umiOS/B-umiOS/Separate/ViewController/Component/SeperateFooterView.swift
  B-umiOS/B-umiOS/Separate/ViewController/Component/SeperateHeaderView.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController+Layout.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateDetailViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateGraphPopUpViewController+Layout.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateGraphPopUpViewController.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController+Layout.swift
  B-umiOS/B-umiOS/Separate/ViewController/SeparateViewController.swift
  B-umiOS/B-umiOS/Setting/Cell/SeparateTableViewCell.swift
  B-umiOS/B-umiOS/Setting/ViewController/PeriodPopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SeparatePopUpViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingSeparateViewController.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController+Layout.swift
  B-umiOS/B-umiOS/Setting/ViewController/SettingViewController.swift
  B-umiOS/B-umiOS/ThrowTrash/Component/CompletionMessage.swift
  B-umiOS/B-umiOS/ThrowTrash/ThrowTrashViewController+Layout.swift
  B-umiOS/B-umiOS/ThrowTrash/ThrowTrashViewController.swift
  B-umiOS/B-umiOS/Writing/ViewController/WritingPopUpViewController.swift
  B-umiOS/B-umiOS/Writing/WritingViewController+Layout.swift
  B-umiOS/B-umiOS/Writing/WritingViewController.swift
Labels: 진석, 🌈 refactor, 📞 network, 🔧 fix
